*{
    margin: 0;
    padding: 0;
    border: border-box;
    color: aliceblue;
    
}
body {
    width: 100%;
    background-image: url(/19.jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-position: center;
    overflow-x: hidden;
}
a {
    color: aliceblue;
    text-decoration: none;
}
.headbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    color:black;
    
}
.chemicn {
    display: flex;
    justify-content: center;
    align-items: center;
    width:45px ;
    border: none;
}
.appicon {
    display: flex;
justify-content: center;
align-items: center;
width:45px ;
border: none;
}
.acc {
    width: 50px;
    background-color: blueviolet;
    border-radius: 50%;
}

i {
    margin-left: 10px;
}

a {
    margin-left: 10px;
}

.content {
    height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    background-image: url(/Google_2015_logo.svg.png);
    background-size: cover;
    width: 272px;
    height: 92px;
    margin-bottom: 10px;
}
.logo:hover {
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  }
.inputwraper {
    display: flex;    
    width: 561px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 10px;
    background: transparent;
    color: aliceblue;
}

input {
    width: 100%;
    border: 0px;
    outline: 0px;
    background: transparent;
    color: aliceblue;
    
}
.inputwraper:hover {
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  }

.shortcuts {
    height: 288px;
    width: 577px; 
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background: transparent;
}

.srchicon {
display: flex;
justify-content: center;
align-items: center; 
border-top-right-radius:10px;
border-bottom-right-radius:10px ;
outline: none;
}

.xg {
    background-color: aliceblue;
    width: 112px;
    height: 112px;
    background-color: transparent;

    margin-left:5px ;
    margin-right: 5px; 
}

.box1 {
    background-image: url(/2062062_amazon_buy_logo_online_shop_icon.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center; }
.box2 {
    background-image: url(/2062062_amazon_buy_logo_online_shop_icon.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center; }    
.box3 {
    background-image: url(/2062062_amazon_buy_logo_online_shop_icon.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center; }
.box4 {
        background-image: url(/2062062_amazon_buy_logo_online_shop_icon.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center; }
.box5 {
            background-image: url(/2062062_amazon_buy_logo_online_shop_icon.png);
            background-size: 50px;
            background-repeat: no-repeat;
            background-position: center; }
            .box6 {
                background-image: url(/2062062_amazon_buy_logo_online_shop_icon.png);
                background-size: 50px;
                background-repeat: no-repeat;
                background-position: center; }
                .box7 {
                    background-image: url(/2062062_amazon_buy_logo_online_shop_icon.png);
                    background-size: 50px;
                    background-repeat: no-repeat;
                    background-position: center; }
                    .box8 {
                        background-image: url(/2062062_amazon_buy_logo_online_shop_icon.png);
                        background-size: 50px;
                        background-repeat: no-repeat;
                        background-position: center; }    